@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i");

html, body {
    color: $color-base;
}

body {
    padding: 2rem 0 4rem;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to bottom, #04A1BF, #37dafb);
    background-attachment: fixed;
}

main {
    margin-bottom: 2rem;
}

section {
    margin-bottom: 30px;

    &:last-of-type {
        margin-bottom: 0;
    }
}

h1, h5 {
    margin-bottom: 0;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    & > li, &:hover {
        cursor: default;
    }
}

input, input:focus {
    border: 0;
    outline: 0;
}

button, button:focus {
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
}